:root {
    --backgroudbody: #fbfbfb;
    --boxshadow: 0px 21px 49px 0px rgba(216, 216, 216, 0.61);
    --bodyfont: 'dana';
    --haedfont: kalame;
    --small__fontsize: 14px;
    --meduim__fontsize: 16px;
    --regular__fontsize: 20px;
    --big__fontsize: 24px;
    --white: #ffffff;
    --black: #101010;
    --gray__Dark: #484848;
    --gray__Light: #818185;
    --gray__ExtraLight: #eee;
    --blue__Dark: #4d67f5;
    --blue__Light: #ccd3fc;
    --cyan__Dark: #16b8cb;
    --cayn__Light: #caeff3;
    --green__Dark: #24c880;
    --green__Light: #c7f2e2;
    --orange__Dark: #5f3b0c;
    --orange__Light: #ff8521;
    --red__Dark: #f6003a;
    --red__Light: #fee1e8;
}

* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--bodyfont);
}

body {
    max-width: 1400px;
    background-color: var(--gray__Light);
}

/***** GLOBAL STYLES *****/
.__container {
    border-radius: 25px;
    box-shadow: var(--boxshadow);
    background-color: var(--backgroudbody);
}

.__container__padding {
    padding: .85rem .94rem !important;
}

.__container__border {
    border: 1px solid var(--gray__ExtraLight);
    border-radius: 25px !important;
}

.__flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__flex__between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__flex__around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.__transition {
    transition: all .3s linear;
}

.__blur__filter {
    backdrop-filter: blur(10px);
}

/***** End GLOBAL STYLES *****/


/***** header of dashboard *****/
.title p {
    font-size: var(--small__fontsize);
    color: var(--gray__Light);
}

.title h1 {
    font-size: var(--big__fontsize);
    color: var(--gray__Dark);
    font-weight: bold;
}

.user_name .icon {
    width: 65px;
    height: 65px;
    background-color: var(--white);
}

.user_name .icon span {
    font-size: var(--big__fontsize);
    color: var(--gray__Light);
}

.user_name .text p:first-child {
    font-size: var(--small__fontsize);
    color: var(--gray__Light);
}

.user_name .text p:last-child {
    font-size: var(--meduim__fontsize);
    font-weight: bold;
    color: var(--gray__Dark);
}

.user_notification .notification_text p {
    font-size: 14px;
}

.user_notification .notification_text p:first-child {
    color: var(--gray__Dark);
    font-weight: bold;
}

.user_notification .notification_icons {
    font-size: 28px;
    color: var(--gray__Light);
    cursor: pointer;
}

.user_notification .notification_icons span:hover {
    font-size: 28px;
    color: var(--blue__Dark);
}

.user_notification .notification_icons span:first-child:hover {
    font-size: 28px;
    color: var(--orange__Light);
}

.user_notification .notification_icons span:last-child:hover {
    font-size: 28px;
    color: var(--red__Dark);
}

/***** End header of dashboard *****/


/***** style of aside *****/
aside p {
    font-size: var(--small__fontsize);
    font-weight: bold;
}

aside ul {
    list-style: none;
}

aside ul li {
    /* padding: 1rem 0; */
    cursor: pointer;
}

aside ul li span {
    font-size: var(--small__fontsize);
}

aside ul li p {
    font-size: var(--small__fontsize);
    font-weight: normal;
    color: var(--gray__Dark);
}

aside ul li span.link-icon {
    font-size: var(--regular__fontsize) !important;
    color: var(--black)
}

aside ul li span.left-arrow {
    color: var(--gray__Dark);
    border-radius: 7px;
    background: var(--gray__ExtraLight);
}

aside ul li:hover {
    box-shadow: var(--boxshadow);
    background: var(--white);
}

/* aside ul li hover styles */
aside ul li:hover p,
aside ul li:hover .link-icon {
    color: var(--blue__Dark);
}

aside ul li:hover .left-arrow {
    background: var(--blue__Light);
}

aside p:last-child span {
    font-size: var(--big__fontsize);
}

aside p:last-child {
    color: var(--red__Dark);
    font-weight: 600;
    cursor: pointer;
}

aside p:last-child:hover {
    border-radius: 25px;
    background-color: var(--red__Light);
}

/***** End style of aside *****/

/***** Main Ticket Section *****/
section.tickets .title p {
    font-size: var(--meduim__fontsize);
    color: var(--gray__Dark)
}

section.tickets .title span {
    color: var(--gray__Dark);
    font-size: var(--regular__fontsize);
}

section.tickets .send-tickets {
    color: var(--blue__Light);
    font-size: var(--small__fontsize);
    padding: .4rem 1rem !important;

    border: 1px solid transparent;
    border-radius: 25px 40px 25px 40px;

    box-shadow: 0px 21px 49px 0px var(--blue__Light);
    background-color: var(--blue__Dark);
}

section.tickets .send-tickets span {
    font-size: var(--regular__fontsize);
}

section.tickets .send-tickets:hover {
    color: var(--blue__Dark);

    border-color: var(--blue__Dark);
    border-radius: 25px;

    box-shadow: none;
    background-color: transparent;
}

/* table Start */
section.tickets table tr {
    font-size: 14px;
    border-radius: 25px;
    outline: 1px solid var(--gray__ExtraLight);
    transition: all .3s linear;
}

section.tickets table th {
    color: var(--gray__Dark);
    font-weight: normal;
}

section.tickets table tr td.ticket_name {
    color: var(--blue__Dark);
    font-weight: bold;
}

section.tickets table tr td span {
    font-size: var(--big__fontsize);
    color: var(--orange__Light);
    cursor: pointer;
}

section.tickets table tr:hover {
    outline-color: var(--blue__Dark);
    box-shadow: var(--boxshadow);
    transform: scale(1.03);
}

/* table End */

/***** End Main Ticket Section *****/

/***** notices section *****/
section.notices .title {
    color: var(--gray__Dark);
}

section.notices .title span {
    font-size: var(--regular__fontsize);
}

section.notices .text {
    font-size: 14px;
    text-align: justify;
    line-height: 27px;
}

section.notices .text p:first-child {
    color: var(--gray__Dark);
    font-weight: bold;
}

/***** End notices section *****/

/***** my_orders section *****/
section.my__orders .title {
    color: var(--gray__Dark);
}

section.my__orders .title span {
    font-size: var(--regular__fontsize);
}

section.my__orders .text {
    font-size: 14px;
    text-align: justify;
    line-height: 27px;
}

/* table */
section.my__orders table tr,
th,
td {
    text-align: center;
}

/* End of Table */
/***** End my_orders section *****/

/***** favorite section *****/
section.favorite .title {
    color: var(--gray__Dark);
}

section.favorite .title span {
    font-size: var(--regular__fontsize);
}

section.favorite .text {
    font-size: 14px;
    text-align: justify;
    line-height: 27px;
}


/* table */
section.favorite table span.color {
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 50%;
}

section.favorite table tr:first-child th {
    font-size: 14px;
    color: var(--gray__Light);
    font-weight: normal;
}

section.favorite table tr td p {
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
}


section.favorite table tr {
    height: 5rem;
    outline: 1px solid var(--gray__ExtraLight);
    border-radius: 25px;
}

section.favorite table button {
    font-size: 14px;
}

section.favorite .buy_product {
    border: 1px solid transparent;
    border-radius: 25px 25px 25px 0;
    /* border-radius: 25px 40px 25px 40px; */
    color: var(--green__Light);

    box-shadow: 0px 21px 20px var(--green__Light);
    background-color: var(--green__Dark);
}

section.favorite .buy_product:hover {
    border-radius: 25px 0px 25px 25px;

    border-color: var(--green__Dark);
    color: var(--green__Dark);

    box-shadow: none;
    background: var(--white);
}

section.favorite .delete_product {
    border: 1px solid transparent;
    border-radius: 50%;
    color: var(--red__Light);
    font-size: var(--regular__fontsize);
    padding: .5rem !important;

    box-shadow: 0px 21px 20px var(--red__Light);
    background: var(--red__Dark);
}

section.favorite .delete_product:hover {
    box-shadow: none;
    border-color: var(--red__Dark);
    border-radius: 50% 50% 50% 0;
    color: var(--red__Dark);
    background: var(--white);
}

section.favorite .alert_user_btn {
    border: 1px solid transparent;
    border-radius: 25px 25px 25px 0;
    /* border-radius: 25px 40px 25px 40px; */
    color: var(--gray__Dark);

    box-shadow: 0px 21px 20px var(--gray__ExtraLight);
    background-color: var(--gray__ExtraLight);
}

section.favorite .alert_user_btn:hover {
    border-radius: 25px 0px 25px 25px;

    border-color: var(--gray__Dark);
    color: var(--gray__Dark);

    box-shadow: none;
    background: var(--white);
}


section.favorite .section_footer .text {
    font-size: 14px;
    color: var(--gray__Light);
}

section.favorite .section_footer .text span {
    font-size: var(--regular__fontsize);
}

section.favorite .section_footer .slide-wrapper .slide {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    font-size: var(--regular__fontsize);

    cursor: pointer;
    background: var(--gray__ExtraLight);
}

section.favorite .section_footer .slide-wrapper .slide.active {
    color: var(--white);
    background: var(--blue__Dark);
}

/* End of table */
/***** End favorite section *****/

/***** address section *****/
section.address .title {
    color: var(--gray__Dark);
}

section.address .title span {
    font-size: var(--regular__fontsize);
}

section.address .add__address_btn {
    font-size: 14px;
    color: var(--blue__Light);
    border: 1px solid transparent;
    border-radius: 25px 25px 25px 0px;
    padding: .4rem .8rem !important;

    box-shadow: 0px 21px 20px var(--blue__Light);
    background-color: var(--blue__Dark);
}

section.address .add__address_btn:hover {
    color: var(--blue__Dark);

    border-color: var(--blue__Dark);
    border-radius: 25px 0px 25px 25px;

    box-shadow: none;
    background: var(--white);
}

section.address .text {
    font-size: 14px;
    text-align: justify;
    line-height: 27px;
}

section.address .address__container p {
    font-size: 12px;
    color: var(--gray__Dark);
    font-weight: bold;
}

section.address .address__container button {
    border: 1px solid transparent;
    border-radius: 25px 25px 25px 5px;
    padding: .4rem .6rem !important;
}

section.address .address__container button:hover {
    border-radius: 25px 5px 25px 25px;
}


section.address .trash {
    border-color: var(--red__Dark);
    color: var(--red__Light);

    box-shadow: 0px 12px 42px -0.4rem var(--red__Dark);
    background: var(--red__Dark);
}

section.address .trash:hover {
    color: var(--red__Dark);
    border-color: var(--red__Dark);

    box-shadow: none;
    background: transparent;
}

section.address .edit {
    border-color: var(--cyan__Dark);
    color: var(--cayn__Light);

    box-shadow: 0px 12px 42px -0.4rem var(--cyan__Dark);
    background: var(--cyan__Dark);
}

section.address .edit:hover {
    color: var(--cyan__Dark);
    border-color: var(--cyan__Dark);

    box-shadow: none;
    background: transparent;
}

/***** End address section *****/

.no-content {
    color: var(--gray__Dark);
    border-radius: 25px;
    box-shadow: var(--boxshadow);
    background-color: #ccc;
}

/***** Editing Address *****/

.address__form_container .form-group {
    padding: 1.7rem .8rem;
    border: 1px solid var(--gray__Light);
    border-radius: 15px;
}

.address__form_container .form-group:hover {
    border: 1px solid var(--blue__Dark);
    color: var(--blue__Dark);
}

.address__form_container .form-group p {
    font-size: 13px;
}

.address__form_container .form-group span {
    font-size: 13px;
    font-weight: bold;
}

.address__form_container .options {
    list-style: none;
    height: 10rem;
    padding-left: 20px !important;
    overflow-y: scroll;
}

.address__form_container .options.hidden {
    display: none;
}

.address__form_container .option {
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}

.address__form_container .option:hover {
    padding-left: 10px;
    color: var(--blue__Dark);
    gap: .35rem !important;
}

.address__form_container .show__on_map {
    border: none;
    color: var(--gray__Dark);
    border-radius: 25px;
    background-color: var(--gray__ExtraLight);
}


.address__form_container .form-group input {
    border: none;
    border-radius: 25px;
    font-size: 13px;
    padding: .4rem .8rem;
    background-color: transparent;
}

.address__form_container .form-group input:focus-visible {
    outline: none;
}

/***** End Editing Address *****/

/***** verify phoneNum *****/
section.verfy__phoneNum button {
    font-size: 14px;
    color: var(--blue__Light);
    border: 1px solid transparent;
    border-radius: 25px 25px 25px 0px;
    padding: .4rem .8rem !important;

    box-shadow: 0px 21px 20px var(--blue__Light);
    background-color: var(--blue__Dark);
}

section.verfy__phoneNum button:hover {
    color: var(--blue__Dark);

    border-color: var(--blue__Dark);
    border-radius: 25px 0px 25px 25px;

    box-shadow: none;
    background: var(--white);
}

/***** End verify phoneNum *****/


/***** returned products *****/


section.returned__requests .card {
    color: var(--gray__Dark);
    font-size: 12px;
    padding: 2.8rem 1.8rem;
    border-radius: 15px;
    border: none;
    background-color: var(--white);
}

section.returned__requests .card img {
    width: 100px;
}

section.returned__requests .product__name {
    font-weight: bold;
}

section.returned__requests input[type="checkbox"] {
    width: 24px;
    height: 24px;
    appearance: none;
    position: relative;
    border: 1px solid var(--gray__Light);
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    background-color: var(--white);
    transition: all .3 linear;
}

section.returned__requests input[type="checkbox"]::before {
    position: absolute;
    content: '\2713';
    top: 50%;
    left: 50%;
    font-size: 20px;
    line-height: 25px;
    color: var(--white);
    transform: scale(1) translate(-50%, -50%);
    transition: all .3s linear;
}

section.returned__requests input[type="checkbox"]:checked {
    border: none;
    background-color: var(--orange__Light);
}

section.returned__requests input[type="checkbox"]:checked:before {
    transform: scale(1) translate(-50%, -50%);
}


section.returned__requests button {
    font-size: 14px;
    color: var(--blue__Light);
    border: 1px solid transparent;
    border-radius: 25px 25px 25px 0px;
    padding: .8rem 1.6rem !important;

    box-shadow: 0px 21px 20px var(--blue__Light);
    background-color: var(--blue__Dark);
}

section.returned__requests button:hover {
    color: var(--blue__Dark);

    border-color: var(--blue__Dark);
    border-radius: 25px 0px 25px 25px;

    box-shadow: none;
    background: var(--white);
}

/***** End returned products *****/

/***** make returned request *****/
.make__reuqests .form-group {
    padding: 1.2rem .8rem;
    border: 1px solid var(--gray__Light);
    border-radius: 15px;
}

.make__reuqests .form-group:hover {
    border: 1px solid var(--blue__Dark);
    color: var(--blue__Dark);
}

.make__reuqests .form-group p {
    font-size: 13px;
}

.make__reuqests .form-group span {
    font-size: 13px;
    font-weight: bold;
}

.make__reuqests .options {
    list-style: none;
    height: 10rem;
    padding-left: 20px !important;
    overflow-y: scroll;
}

.make__reuqests .options.hidden {
    display: none;
}

.make__reuqests .option {
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}

.make__reuqests .option:hover {
    padding-left: 10px;
    color: var(--blue__Dark);
    gap: .35rem !important;
}

.make__reuqests .show__on_map {
    border: none;
    color: var(--gray__Dark);
    border-radius: 25px;
    background-color: var(--gray__ExtraLight);
}


.make__reuqests .form-group input {
    border: none;
    border-radius: 25px;
    font-size: 13px;
    padding: .4rem .8rem;
    background-color: transparent;
}

.make__reuqests .form-group input:focus-visible {
    outline: none;
}

.make__reuqests textarea {
    border: 1px solid var(--gray__Light);
    border-radius: 25px;
    font-size: 14px;
    color: var(--gray__Light);
    background-color: transparent;
}

.make__reuqests textarea:focus-visible {
    outline: none;
    color: var(--blue__Dark);
    border: 1px solid var(--blue__Dark);
}
/***** End make returned request *****/